.todos__item {
  background: var(--white);
  border-bottom: 1px solid var(--cyan);
}

.todos__checkbox {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.todos .col-md-12:nth-child(4) .todos__item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}

.todos__name {
  font-size: 16px;
}

.todos__time {
  font-size: $fontSize;
}

.todos .col-md-12 .todos__checkbox:checked .todos-name {
  text-decoration: line-through;
}

.todos .todos__item:nth-child(1) .todos__checkbox:checked + .todos__body .todos__name,
.todos .todos__item:nth-child(2) .todos__checkbox:checked + .todos__body .todos__name,
.todos .todos__item:nth-child(3) .todos__checkbox:checked + .todos__body .todos__name {
  text-decoration: line-through;
}
